[submodule "XEngine/Dependencies/GLFW"]
	path = XEngine/Dependencies/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "XEngine/Dependencies/spdlog"]
	path = XEngine/Dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "XEngine/Dependencies/ImGui"]
	path = XEngine/Dependencies/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "XEngine/Dependencies/glm"]
	path = XEngine/Dependencies/glm
	url = https://github.com/g-truc/glm.git
